<section class="thirteen columns">
    <h1>Patents</h1>

	
    <h4>International</h4>

    <h5>Method and Device for Learning Neural Network </h5>
    <article>		
<p>Junmo Kim, <em>Byungju Kim</em>, Yeakang Lee, Siheang Lee, Minsuk Park, Pyeonghwan Ahn, Jaeyoung Lee <br>
2018-09-06 / PCT/KR2018/010421 </p>
    </article>	

    <h5>Method and Device for Learning Neural Network for Recognizing Class </h5>
    <article>		
<p>Junmo Kim, <em>Byungju Kim</em>, Juchang Kim, Yeakang Lee, Minsuk Park, Juseung Yun, Jaeyoung Lee, Donggyu Ju <br>
2018-09-04 / PCT/KR2018/010271 </p>
    </article>	
	



    <h4>Domestic (KOR)</h4>
    
    <h5>Electronic device and operating method for generating caption information for a image sequence </h5>
    <article>		
<p>Junmo Kim, Minsuk Park, <em>Byungju Kim</em>, Yeakang Lee, Jaeyoung Lee, Siheang Lee, Kyungsu Kim<br>
2019-05-22 / 10-2019-0060221 </p>
    </article>	


    <h5>Method and Device for Learning Neural Network </h5>
    <article>		
<p>Junmo Kim, <em>Byungju Kim</em>, Yeakang Lee, Siheang Lee, Minsuk Park, Pyeonghwan Ahn, Jaeyoung Lee <br>
2017-09-08 / 10-2017-0115464 </p>
    </article>	

    <h5>Method and Device for Learning Neural Network for Recognizing Class </h5>
    <article>		
<p>Junmo Kim, <em>Byungju Kim</em>, Juchang Kim, Yeakang Lee, Minsuk Park, Juseung Yun, Jaeyoung Lee, Donggyu Ju <br>
2017-09-08 / 10-2017-0115451 </p>
    </article>	
			
<h5>Decorrelation Method using Label Smoothing for Deep Branched Network </h5>
    <article>		
<p>Junmo Kim, <em>Byungju Kim</em>, Yeakang Lee, Youngsoo Kim<br>
2017-06-13 / 10-2017-0073860 </p>
    </article>		

</section>
