<section class="thirteen columns">
    <h1>Publications</h1>

	
    <h4>Conference</h4>
    <h5>Collaborative Method for Incremental Learning on Classification and Generation </h5>
    <article>		
		<p><em>Byungju Kim</em>, Jaeyoung Lee, Kyungsu Kim, Sungjin Kim and Junmo Kim <br>
		ICIP, 2019, p.390-394. 
		<a href="https://ieeexplore.ieee.org/document/8802976/">[paper]</a> 
		<a href="https://sigport.org/documents/collaborative-method-incremental-learning-classification-and-generation">[poster]</a> </p>
    </article>	
	
    <h5>Learning Not to Learn: Training Neural Networks with Biased Data </h5>
    <article>		
		<p><em>Byungju Kim</em>, Hyunwoo Kim, Kyungsu Kim, Sungjin Kim and Junmo Kim <br>
		CVPR, 2019, p.9012-9020. 
		<a href="https://arxiv.org/abs/1812.10352">[paper]</a> 
		<a href="https://github.com/feidfoe/learning-not-to-learn">[code]</a> </p>
    </article>
	
	
    <h5>Highway Driving Dataset for Semantic Video Segmentation </h5>
    <article>		
		<p><em>Byungju Kim</em>, Junho Yim and Junmo Kim <br>
		BMVC, 2018, p.140. 
		<a href="http://bmvc2018.org/contents/papers/0570.pdf">[paper]</a> 
		<a href="https://sites.google.com/site/highwaydrivingdataset">[project]</a> </p>
    </article>
	

    <h5>Regularization of Deep Network via Latent Subclass Learning </h5>
    <article>		
		<p>Joochang Kim, Yegang Lee, <em>Byungju Kim</em>, Juseung Yun and Junmo Kim <br>
		RiTA, 2017. </p>
    </article>
	
	
    <h4>Journal</h4>
	
    <h5>Question Aware Prediction with Candidate Answer Recommendation for Visual Question Answering </h5>
    <article>		
		<p><em>Byungju Kim</em> and Junmo Kim <br>
		Electronics Letters, 2017, 53.18: 1244-1246.
		<a href="http://ieeexplore.ieee.org/document/8030456/">[paper]</a> </p>
    </article>	
	
	
</section>
