<section class="thirteen columns">
    <h1>Publications</h1>

	
    <h4>Conference</h4>
	
    <h5> Patch-Wise Attention Network for Monocular Depth Estimation </h5>
    <article>		
		<p>Sihaeng Lee, Janghyeon Lee, <em>Byungju Kim</em>, Eojindl Yi, and Junmo Kim <br>
		AAAI, 2021. 
    </article>
	
    <h5>De-biasing Neural Networks with Estimated Offset for Class Imbalanced Learning </h5>
    <article>		
		<p><em>Byungju Kim</em>, Hyeong Gwon Hong, and Junmo Kim <br>
		WACV, 2021. 
		<a href="https://openaccess.thecvf.com/content/WACV2021/html/Kim_De-Biasing_Neural_Networks_With_Estimated_Offset_for_Class_Imbalanced_Learning_WACV_2021_paper.html">[paper]</a>
    </article>
	
    <h5>Weight Decay Scheduling and Knowledge Distillation for Active Learning </h5>
    <article>		
		<p>Juseung Yun, <em>Byungju Kim</em>, and Junmo Kim <br>
		ECCV, 2020. 
		<a href="http://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123710426.pdf">[paper]</a> 	
    </article>	
	
    <h5>Collaborative Method for Incremental Learning on Classification and Generation </h5>
    <article>		
		<p><em>Byungju Kim</em>, Jaeyoung Lee, Kyungsu Kim, Sungjin Kim and Junmo Kim <br>
		ICIP, 2019, p.390-394. 
		<a href="https://ieeexplore.ieee.org/document/8802976/">[paper]</a> 
		<a href="https://sigport.org/documents/collaborative-method-incremental-learning-classification-and-generation">[poster]</a> </p>
    </article>	
	
    <h5>Learning Not to Learn: Training Deep Neural Networks with Biased Data </h5>
    <article>		
		<p><em>Byungju Kim</em>, Hyunwoo Kim, Kyungsu Kim, Sungjin Kim and Junmo Kim <br>
		CVPR, 2019, p.9012-9020. 
		<a href="https://arxiv.org/abs/1812.10352">[paper]</a> 
		<a href="https://github.com/feidfoe/learning-not-to-learn">[code]</a> </p>
    </article>
	
	
    <h5>Highway Driving Dataset for Semantic Video Segmentation </h5>
    <article>		
		<p><em>Byungju Kim</em>, Junho Yim and Junmo Kim <br>
		BMVC, 2018, p.140. 
		<a href="http://bmvc2018.org/contents/papers/0570.pdf">[paper]</a> </p>
    </article>
	

    <h5>Regularization of Deep Network via Latent Subclass Learning </h5>
    <article>		
		<p>Joochang Kim, Yegang Lee, <em>Byungju Kim</em>, Juseung Yun and Junmo Kim <br>
		RiTA, 2017. </p>
    </article>
	
    <h5>Develpment of deep learning-based facial expression recognition system </h5>
    <article>		
		<p>Heechul Jung, Sihaeng Lee, Sunjeong Park, <em>Byungju Kim</em>, Junmo Kim, Injae Lee, and Chunghyun Ahn <br>
		FCV, 2015, doi: 10.1109/FCV.2015.7103729. 
	        <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7103729&isnumber=7103693">[paper]</a></p>
    </article>	
	
	
    <h4>Journal</h4>
    <h5>Adjusting Decision Boundary for Class Imbalanced Learning </h5>
    <article>		
		<p><em>Byungju Kim</em> and Junmo Kim <br>
		IEEE Access, vol. 8, pp. 81674-81685, 2020, doi:10.1109/ACCESS.2020.2991231.
		<a href="https://ieeexplore.ieee.org/document/9081988/">[paper]</a> 
		<a href="https://github.com/feidfoe/AdjustBnd4Imbalance">[code]</a> </p>
    </article>	
	
    <h5>Question Aware Prediction with Candidate Answer Recommendation for Visual Question Answering </h5>
    <article>		
		<p><em>Byungju Kim</em> and Junmo Kim <br>
		Electronics Letters, 2017, 53.18: 1244-1246.
		<a href="http://ieeexplore.ieee.org/document/8030456/">[paper]</a> </p>
    </article>

    <h4>Workshop</h4>
    <h5>Data Driven Approach for Mathematical Problem Solving </h5>
    <article>		
		<p><em>Byungju Kim</em> Wonseok Lee, Jaehong Kim and Jungbin Im<br>
		MathNLP: The 2nd Workshop on Mathematical Natural Language Processing (co-located with LREC-COLING 2024)
		<a href="https://aclanthology.org/2024.mathnlp-1.4.pdf">[paper]</a> </p>
    </article>	
	
	
</section>
